table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
    width: 500px;
    height: 5px;
  }
  .data{
    text-align:right;
  }
  th{
    text-align: left;
  }
  #head{
    text-align: left;
  }
/* Your CSS Code here. */
